body{
    margin: 0px;
    padding: 0px;
    display: flexbox;
    margin: auto;
    position: relative;
    justify-content: center;
    align-content: center;
}
.contain{
    height: 800px;
    width: auto;
    min-width: 375px;
    margin-top: 5px;
    /* background-color: chartreuse; */
}
.header{
    height: 220px;
    width: 375px;
    margin: auto;
    padding-top: 5px;
    border-radius: 7px;
    /* background-color: red; */
    /* -webkit-box-shadow: 0px 3px 1.5px 1.5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 1.5px 1.5px rgba(0,0,0,1);
    box-shadow: 0px 3px 1.5px 1.5px rgba(0,0,0,1); */
}
.header .title{
    height: 60px;
    width: 362px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: red;
    border-radius: 7px;
    -webkit-box-shadow: 0px 3px 1.5px 1.5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 1.5px 1.5px rgba(0,0,0,1);
    box-shadow: 0px 3px 1.5px 1.5px rgba(0,0,0,1);
    /* background-color: aqua; */
    /* border: 1px black solid; */
}
.header .title h1{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
}


/* ----MONITOR---- */
.header .monborder{
    height: 185px;
    width: 360px;
    margin: auto;
    margin-top: 8px;
    /* background-color: blue; */
    padding-top: 10px;
}
.header .monitor{
    width: 350px;
    height: 175px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    background-color: rgb(216, 214, 214);
    -webkit-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    -moz-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
}
.header .monborder .monitortitle{
    height: 30px;
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: blueviolet; */
}
.header .monborder h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    margin-left: -250px; 
}
.header .monborder .display{
    height: 135px;
    width: 350px;
    margin: auto;
    padding-top: 10px;
    display: block;
    justify-content: center;
    align-content: center;
    /* background-color: yellow; */
}

/* ----DIPLAY DATAS VALUES---- */
.power #power{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.power #box_power{
    height: 10px;
    width: 100px;
    padding: 5px;
    margin-right: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.power #unitpower{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.voltage{
    margin-top: -10px;
}
.voltage #voltage{
    margin-left: 50px;
    margin-right: 41px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.voltage #box_voltage{
    height: 10px;
    width: 100px;
    padding: 5px;
    margin-right: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.voltage #unitvoltage{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.current{
    margin-top: -10px;
}
.current #current{
    margin-left: 50px;
    margin-right: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.current #box_current{
    height: 10px;
    width: 100px;
    padding: 5px;
    margin-right: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.current #unitcurrent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.frequency{
    margin-top: 10px;
}
.frequency #frequency{
    margin-left: 50px;
    margin-right: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.frequency #box_frequency{
    height: 10px;
    width: 100px;
    padding: 5px;
    margin-right: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.frequency #unitfrequency{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}




/* ----CONTROLL---- */
.footer{
    height: 510px;
    width: 350px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-top: 53px;  
    /* padding-top: 5px; */
    /* padding-left: 5px; */
    display: block;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    background-color: rgb(216, 214, 214);
    -webkit-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    -moz-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);

}
.footer .titlecontrol{
    height: 100px;
    width: 350px;
    padding-top: 0.1px;
    /* background-color: deeppink; */
}
.footer .titlecontrol h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-top: 3px;
}
.footer .titlecontrol p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}
.footer .titlecontrol input {
  margin: 0.4rem;
  /* margin-left: 20px; */
  /* padding-left: 100px; */
}
.footer .titlecontrol fieldset{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 13px;
}
.footer .titlecontrol .funselect input{
    width: 15px;
    height: 15px;
}


.footer .schedual{
    height: 190px;
    width: 340px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(216, 214, 214);
    -webkit-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    -moz-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
}
.footer .schedual .titlesch{
    height: 32px;
    width: 330px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: yellow; */
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}
.footer .schedual .titlesch #schedualtitle{
    font-weight: bold;
    margin-top: 4px;
    margin-left: -10px;
    margin-right: 80px;
}

.footer .button_set {
    color: #ecf0f1;
    font-size: 12px;
    width: 60px;
    height: 20px;
    background-color: blue;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2px;
    margin-left: 50px;
    box-shadow: 0px 6px 0px blue;
    transition: all .1s;
}
   
.button_set:active {
    box-shadow: 0px 2px 0px greenyellow;
    position: relative;
    top: 2px;
}





.footer .schedual .time{
    height: 150px;
    width: 330px;
    margin: auto;
    display: block;
    justify-content: center;
    align-content: center;
    /* background-color: cyan; */
}
.footer .schedual .timeON{
    height: 100px;
    width: 160px;
    float: left;
    padding-left: 5px;
    /* background-color: chartreuse; */
}
.timeON label {
    display: block;
    font:1rem 'Fira Sans',sans-serif;
}
.timeON input,label {
    margin: 0.4rem 0;
}
.timeON h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.timeON span{
    display: flex;
    /* justify-content: center; */
    align-content: center;
}
.timeON #label_dateON{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 10px;
}
.timeON #dateInput{
    display: block;
    align-content: center;
    justify-content: center;
    padding-bottom: 2px;
    margin-top: 4px;
    width: 100px;
    height: 15px;
}
.timeON #label_timeON{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: -3px;
    margin-left: 10px;
}
.timeON #timeInput{
    display: block;
    align-content: center;
    justify-content: center;
    margin: 1px 10px;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 15px;
}

.footer .schedual .timeOFF{
    height: 100px;
    width: 160px;
    padding-left: 5px;
    float: left;
    /* background-color:darkred; */
}
.timeOFF label {
    display: block;
    font:1rem 'Fira Sans',sans-serif;
}
.timeOFF input,label {
    margin: 0.4rem 0;
}
.timeOFF h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.timeOFF span{
    display: flex;
    /* justify-content: center; */
    align-content: center;
}
.timeOFF #label_dateOFF{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 10px;
}
.timeOFF #dateInput{
    display: block;
    align-content: center;
    justify-content: center;
    padding-bottom: 2px;
    margin-top: 4px;
    width: 100px;
    height: 15px;
}
.timeOFF #label_timeOFF{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: -3px;
    margin-left: 10px;
}
.timeOFF #timeInput{
    display: block;
    align-content: center;
    justify-content: center;
    margin: 1px 10px;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 15px;
}
.footer .schedual .svolume{
    height: 40px;
    width: 330px;
    padding-top: 10px;
    float: left;
    /* background-color: purple; */
}
.svolume .Sspeed #Sspeed{
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.Sspeed #box_Sspeed{
    height: 10px;
    width: 60px;
    padding: 5px;
    margin-right: 0px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.Sspeed #unitSspeed{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/* ---Manual--- */
.footer .manual{
    display: block;
    justify-content: center;
    align-content: center;
    height: 154px;
    width: 340px;
    margin: auto;
    margin-top: 20px;
    /* background-color:cornflowerblue ; */
    border-radius: 4px;
    background-color: rgb(216, 214, 214);
    -webkit-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    -moz-box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
    box-shadow: 0px 1px 2px 2px rgb(31, 29, 29);
}
.footer .manual .titleman{
    height: 32px;
    width: 340px;
    padding-top: 10px;
    display: block;
    justify-content: center;
    align-content: center;
    /* background-color: yellow; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}
.manual .titleman #manualtitle{
    font-weight: bold;
    margin-top: 40px;
    margin-left: 10px;
}
.footer .manual .mvolume{
    height: 27px;
    width: 340px;
    display: flex;
    padding-top: 17px;
    /* margin-top: 10px; */
    align-content: center;
    justify-content: center;
    /* background-color: magenta; */
}
.footer .manual .manualbtn{
    height: 70px;
    width: 340px;
    /* background-color:chartreuse; */
}


.Mspeed #Mspeed{
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.Mspeed #box_Mspeed{
    height: 10px;
    width: 60px;
    padding: 5px;
    margin-right: 0px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.Mspeed #unitMspeed{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.manualbtn .button_start {
    color: #ecf0f1;
    font-size: 12px;
    width: 60px;
    height: 20px;
    background-color: green;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: 2px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 0px 6px 0px green;
    transition: all .1s;
}
.button_start:active {
    box-shadow: 0px 2px 0px greenyellow;
    position: relative;
    top: 2px;
}


.manualbtn .button_stop {
    color: #ecf0f1;
    font-size: 12px;
    width: 60px;
    height: 20px;
    background-color: red;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 2px;
    margin-left: 80px;
    margin-top: 20px;
    box-shadow: 0px 6px 0px red;
    transition: all .1s;
}
   
.button_stop:active {
    box-shadow: 0px 2px 0px rgb(236, 87, 87);
    position: relative;
    top: 2px;
}





@media only screen and (min-width: 1000px){
    /* *{
        overflow: hidden;
    } */
    .contain{
        height: auto;
        margin-bottom: 10px;
        /* background-color: chartreuse; */
    }
    .header{
        height: 410px;
        width: 1000px;
        border-radius: 7px;
        /* background-color: red; */
    }
    .header .title{
        height: 70px;
        width: 990px;
        margin: auto;
        margin-top: 0px;
        /* background-color: aqua; */
    }
    .header .title h1{
        font-size: 55px;
        font-weight: bold;
        display: flex;
        margin: auto;
        justify-content: center;
        align-content: center;
    }


    /* ---MONITOR--- */
    .header .monborder{
        height: 350px;
        width: 1000px;
        margin-top: 10px;
        /* background-color: blue; */
        padding-top: 10px;
    }
    .header .monitor{
        width: 980px;
        height: 320px;
        border-radius: 10px;
        margin-top: -6px;
    }
    .header .monborder .monitortitle{
        height: 60px;
        width: 990px;
        margin-top: 2px;
        /* background-color: yellow; */
    }
.monitortitle hr{
        top: 200px;
    }
    .header .monborder h1{
        font-size: 35px;
        margin-left: -600px;
        /* margin-top: 10px; */
    }
    .header .monborder .display{
        height: 280px;
        width: 790px;
        margin-top: -20px;
        padding-left: 200px;
        /* background-color: red; */
    }


    .power{
        height: 60px;
        display: block;
        justify-content: center;
        align-content: center;
    }
    .power #power{
        font-size: 27px;
    }
    .power #box_power{
        height: 35px;
        width: 200px;
        padding: 5px;
        margin-left: 50px;
        font-size: 20px;
        font-weight: bold;
    }
    .power #unitpower{
        font-size: 20px;
        font-weight: bold;
    }
    .voltage{
        height: 60px;
        display: block;
        justify-content: center;
        align-content: center;
    }
    .voltage #voltage{
        font-size: 27px;
    }
    .voltage #box_voltage{
        height: 35px;
        width: 200px;
        padding: 5px;
        margin-left: 45px;
        font-size: 20px;
        font-weight: bold;
    }
    .voltage #unitvoltage{
        font-size: 20px;
        font-weight: bold;
    }
    .current{
        height: 60px;
        display: block;
        justify-content: center;
        align-content: center;
    }
    .current #current{
        font-size: 27px;
    }
    .current #box_current{
        height: 35px;
        width: 200px;
        padding: 5px;
        font-size: 20px;
        margin-left: 45px;
        font-weight: bold;
    }
    .current #unitcurrent{
        font-size: 20px;
        font-weight: bold;
    }
    .frequency{
        height: 60px;
        display: block;
        justify-content: center;
        align-content: center;
    }
    .frequency #frequency{
        font-size: 27px;
    }
    .frequency #box_frequency{
        height: 35px;
        width: 200px;
        padding: 5px;
        margin-left: 30px;
        font-size: 20px;
        font-weight: bold;
    }
    .frequency #unitfrequency{
        font-size: 20px;
        font-weight: bold;
    }


    /* ---CONTROL--- */
    .footer{
        margin-top: 10px;
        height: 800px;
        width: 980px;
        border-radius: 10PX;
    }
    .footer .titlecontrol{
        height: 200px;
        width: 980px;
        padding-top: 0.1px;
        /* background-color: deeppink; */
    }
    .footer .titlecontrol h1{
        font-size: 35px;
        margin-left: 130px;
        margin-top: 3px;
    }
    .footer .titlecontrol p,
    label {
    font:
        1.8rem 'Fira Sans',
        sans-serif;
    }
    .footer .titlecontrol input {
        margin: 1.2rem;
    }
    .footer .titlecontrol fieldset{
        width: 870px;
        font-size: 20px;
        padding: 18px;
        margin: auto;
    }
    .footer .titlecontrol .funselect input{
        width: 22px;
        height: 22px;
    }
    .footer .titlecontrol .funselect .scedualtitle{
        margin-right: 150px;
    }


    /* ---SCHEDUAL--- */
    .footer .schedual{
        height: 310px;
        width: 905px;
        margin: auto;
        margin-top: 10px;
        padding-top: 10px;
        border-radius: 10px;
    }
    .footer .schedual .titlesch{
        height: 45px;
        width: 900px;
        margin: auto;
        /* background-color: yellow; */
        padding-top: 5px;
    }
    .footer .schedual .titlesch #schedualtitle{
        margin-top: 4px;
        margin-right: 350px;
        font-size: 25px;
    }
    

    /* ---BUTTON SET--- */
    .footer .button_set {
        font-size: 20px;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        padding: 2px;
        margin-left: 50px;
        box-shadow: 0px 6px 3px blue;
    }  
    .button_set:active {
        box-shadow: 0px 2px 0px greenyellow;
        position: relative;
        top: 2px;
    }

    /* ---TIME ON--- */
    .footer .schedual .time{
        height: 250px;
        width: 900px;
        display: block;
        margin-top: 10px;
        /* background-color: cyan; */
    }
    .footer .schedual .timeON{
        height: 65%;
        width: 445px;
        float: left;
        /* background-color: chartreuse; */
    }
    .timeON input,label {
        margin: 0.5rem 0;
    }
    .timeON h1{
        font-size: 20px;
        margin-left: 90px;
    }
    .timeON span{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .timeON #label_dateON{
        font-size: 20px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 13px;
    }
    .timeON #dateInput{
        padding: 10px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }
    .timeON #label_timeON{
        font-size: 20px;
        margin-left: 50px;
        margin-right: 30px;
        margin-top: 13px;
    }
    .timeON #timeInput{
        padding: 10px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }

    /* ---TIME OFF--- */
    .footer .schedual .timeOFF{
        height: 65%;
        width: 445px;
        float: left;
        /* background-color: red; */
    }
    .timeOFF input,label {
        margin: 0.5rem 0;
    }
    .timeOFF h1{
        font-size: 20px;
        margin-left: 90px;
    }
    .timeOFF span{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .timeOFF #label_dateOFF{
        font-size: 20px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 13px;
    }
    .timeOFF #dateInput{
        padding: 10px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }
    .timeOFF #label_timeOFF{
        font-size: 20px;
        margin-left: 50px;
        margin-right: 30px;
        margin-top: 13px;
    }
    .timeOFF #timeInput{
        padding: 10px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }

    /* ---SCHEDUAL SPEED--- */
    .footer .schedual .svolume{
        height: 25%;
        width: 100%;
        padding-top: 20px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        /* background-color: purple; */
    }
    .svolume .Sspeed #Sspeed{
        margin: auto;
        font-size: 20px;
    }
    .Sspeed #box_Sspeed{
        height: 30px;
        width: 120px;
        padding: 5px;
        margin-right: 5px;
        margin-left: 20px;
        font-size: 20px;
    }
    .Sspeed #unitSspeed{
        font-size: 20px;
    }


    /* ---MANUAL--- */
    .footer .manual{
        height: 230px;
        width: 905px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .footer .manual .titleman{
        height: 35px;
        width: 905px;
        padding-top: 10px;
        /* background-color: yellow; */
        /* padding-left: 90px; */
    }
    .footer .manual #manualtitle{
        font-size: 25px;
        margin-left: 110px;
    }


    /* ---MANUAL SPEED--- */
    .footer .manual .mvolume{
        height: 25%;
        width: 100%;
        padding-top: 20px;
        /* background-color: purple; */
    }
    .mvolume .Mspeed #Mspeed{
        margin: auto;
        font-size: 20px;
    }
    .Mspeed #box_Mspeed{
        height: 30px;
        width: 120px;
        padding: 5px;
        margin-right: 5px;
        margin-left: 20px;
        font-size: 20px;
    }
    .Mspeed #unitMspeed{
        font-size: 20px;
    }
    .footer .manual .manualbtn{
        padding: 0;
        margin: 0;
        height: 85px;
        width: 905px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        /* background-color: blue; */
    }

    /* ---MANUAL BUTTON--- */

    /* ---BUTTON START--- */
    .manualbtn .button_start {
        font-size: 20px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        margin-left: 60px;
    }
    .button_start:active {
        box-shadow: 0px 6px 0px yellow;
        position: relative;
        top: 2px;
    }

    /* ---BUTTON STOP--- */
    .manualbtn .button_stop {
        font-size: 20px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        margin-right: 60px;
        margin-left: -1px;
    }
       
    .button_stop:active {
        box-shadow: 0px 6px 0px yellow;
        position: relative;
        top: 2px;
    }
}