body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .slider-container {
    text-align: center;
  }
  
  .slider {
    width: 80%;
    margin: 20px 0;
  }
  
